<header class="header">
  <div class="header__logo">
    <h1><%= link_to 'Floworx', root_path %></h1>
  </div>

  <ul class="top-nav">
    <%= link_to users_edit_path(username: current_user.username), class: 'btn btn-info sessions-button' do %>
        Edit Profile
        <i class="zmdi zmdi-account-add zmdi-hc-fw"></i>
    <% end %>

    <%= link_to users_change_password_path(username: current_user.username), class: 'btn btn-info sessions-button' do %>
        Edit Password
        <i class="zmdi zmdi-account-add zmdi-hc-fw"></i>
    <% end %>

    <%= link_to logout_path, class: 'btn btn-info sessions-button', method: :delete do %>
        Log out
        <i class="zmdi zmdi-account-add zmdi-hc-fw"></i>
    <% end %>

    <%= link_to logout_all_path, class: 'btn btn-info sessions-button', method: :delete do %>
        Log out from all devices
        <i class="zmdi zmdi-account-add zmdi-hc-fw"></i>
    <% end %>
  </ul>

  <ul class="nav top-menu">
    <li class="nav-item <%= active_action?('dashboard') %>">
      <%= link_to 'Dashboard', dashboard_path, class: 'nav-link' %>
    </li>
  </ul>
</header>
