<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body data-ma-theme="blue-grey">
<main class="main main--alt">
  <%= render 'layouts/application/header' %>
  <%= render 'layouts/application/right_bar' %>


  <section class="content content--full">
    <div class="content__inner">
      <%= render 'layouts/shared/flash' %>
      <% if content_for(:title) %>
          <header class="content__title">
            <h1><%= yield(:title) %></h1>
          </header>
      <% end %>

      <%= yield %>
    </div>
    <%= render 'layouts/application/footer' %>
  </section>
</main>
</body>
</html>