<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body data-ma-theme="blue-grey">
<main class="main main--alt main--sessions">
  <%= render 'layouts/sessions/header' %>

  <section class="content content--sessions">
    <%= yield %>

    <%= render 'layouts/sessions/footer' %>
  </section>
</main>
</body>
</html>